* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
  user-select: none;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: #fff;
}
